$base-font-size:    16px;
$base-line-height:  24px;

$special-serif:       'Arbutus Slab';
$special-sans-serif:  'Carrois Gothic';
$serif:               $special-serif, Georgia, "Times New Roman", "DejaVu Serif", serif;
$sans-serif:          $special-sans-serif, Verdana, Tahoma, "DejaVu Sans", sans-serif;
$monospace:           'Bitstream Vera Sans Mono', monospace;

$base-font-family:  $serif;

$total-columns:     14;
$column-width:      4em;
$gutter-width:      1em;
$grid-padding:      $gutter-width;

$fontAwesomePath:   "fontawesome-webfont";

$indent-amount:     3em;

@import "compass/typography/lists";
@import "compass/typography/links";
@import "susy";
/* @import "font-awesome"; */
@import "compass/typography/vertical_rhythm";
@import "compass/typography/text/replacement";
@import "compass/typography/lists/bullets";
@import "compass/css3/transition";
@import "compass/css3/text-shadow";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";

@include establish-baseline;
