<% render 'default' do %>
<h1 class="tag-title"><%= @item[:title] %></h1>
<% items_with_tag(@item[:tag]).each do |item| %>
<article class="post">
  <header>
    <h2>
      <%= link_to(item[:title], item) %>
    </h2>
    <small class="meta">
      Posted <time datetime="<%= item[:created_at] %>"><%= published_date(item) %></time> on <%= tags_for(item, { :base_url => '/tags/' }) %>
    </small>
  </header>

  <section class="post-content">
    <p><%= excerptize(strip_html(item.compiled_content), { :length => 600 }) %></p>
  </section>
</article>
<% end %>
<% end %>
